{% extends 'Front.html.twig' %}

{% block container %}
    <div class="main-bottom">
        <div class="col-md-6 col-sm-6">
            <img src="{{ asset('uploads/'~ convention.imgUrl) }}" style="width: 100%;height: 100%">
        </div>
        <div class="col-md-6 col-sm-6 mb-right">
            <h4>{{ convention.nomSoc }}</h4>
            <p>{{ convention.description }}</p>
            <p>{{ convention.createdAt | date }}</p>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and convention.user != null %}
                {% if app.user.id == convention.user.id %}
            <a href="{{ path('convention_edit',{'id':convention.id}) }}">modifier la convention</a>
            <a href="{{ path('convention_delete',{'id':convention.id}) }}">supprimer la convention</a>
            {% endif %}
            {% endif %}
        </div>

    </div>
    {{ socialButtons() }}
{% endblock %}
